<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <!-- <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar> -->

            <p-table #dt [value]="customers" [columns]="cols"
                [globalFilterFields]="['name','country.name','representative.name','status']" scrollDirection="both"
                [scrollable]="true" scrollHeight="500px" styleClass="mt-3" responsiveLayout="scroll"
                [resizableColumns]="true" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="caption">
                    <!-- <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" style="text-align: left;"> -->
                    <!-- <h5 class="m-0">Manage Products</h5> -->
                    <div class="flex justify-content-between">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                        <button pButton pRipple label="Add Customer" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->
                    </div>

                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                            [pSortableColumnDisabled]="!col.isSort">
                            {{ col.header }} <p-sortIcon *ngIf="col.isSort" [field]="col.field" />
                        </th>
                        <th alignFrozen="right" pFrozenColumn>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <span *ngIf="col.field !== 'subscriptionDate' && col.field !== 'renewalDate' && col.field !== 'amountPaidDate'">
                                {{customer[col.field] }}</span>
                            <span *ngIf="col.field === 'subscriptionDate' || col.field === 'renewalDate' || col.field === 'amountPaidDate'">
                                {{customer[col.field] ? (customer[col.field] | date: 'MM/dd/yyyy') : ''}}</span>
                        </td>
                        <td alignFrozen="right" pFrozenColumn>
                            <!-- <div class="flex">
                                                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(customer)"></button>
                                                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(customer)"></button>
                                                    </div> -->
                            <div class="flex align-items-center justify-content-center gap-2">
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    (click)="editProduct(customer)" class="p-button-rounded p-button-text">
                                </button>
                                <button pButton pRipple type="button" icon="pi pi-times"
                                    (click)="deleteProduct(customer)"
                                    class="p-button-rounded p-button-text p-button-danger">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{customers ? customers.length : 0 }} customers.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="customerDialog"  [draggable]="false" [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"  header="Customer Details" [modal]="true"
            class="p-fluid">
            <!-- [style]="{width: '750px'}" -->
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="number">Customer No.</label>
                        <input type="text" pInputText id="number" [(ngModel)]="customer.number" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !customer.number}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.number">Customer No is
                            required.</small>
                    </div>
                    <div class="field col">
                        <label for="name">Name</label>
                        <input type="text" pInputText id="name" [(ngModel)]="customer.name" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !customer.name}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.name">Name is required.</small>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="mobileno">Mobile Number</label>
                        <input type="text" pInputText id="mobileno" [(ngModel)]="customer.mobileno" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !customer.mobileno}" minlength="10" maxlength="10"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.mobileno">Mobile Number is
                            required.</small>
                    </div>
                    <div class="field col">
                        <label for="address">Address</label>
                        <textarea id="address" pInputTextarea [(ngModel)]="customer.address" [autoResize]="true"
                            required rows="3" maxlength="100" cols="20"></textarea>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="subscriptionDate">Subscription Date</label>
                        <p-calendar [(ngModel)]="customer.subscriptionDate" [showIcon]="true" inputId="subscriptionDate"
                            required [ngClass]="{'ng-invalid ng-dirty' : submitted && !customer.subscriptionDate}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.subscriptionDate">Subscription
                            Date is required.</small>
                    </div>
                    <div class="field col">
                        <label for="renewalDate">Renewal Date</label>
                        <p-calendar [(ngModel)]="customer.renewalDate" [showIcon]="true" inputId="renewalDate" required
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !customer.renewalDate}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.renewalDate">Renewal Date is
                            required.</small>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="callReason">Call Reason</label>
                        <input type="text" pInputText id="callReason" [(ngModel)]="customer.callReason" required
                            autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !customer.callReason}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.callReason">Name is
                            required.</small>
                    </div>
                    <div class="field col">
                        <label for="refferedBy">Reffered By</label>
                        <input type="text" pInputText id="refferedBy" [(ngModel)]="customer.refferedBy" required
                            autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !customer.refferedBy}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.refferedBy">Name is
                            required.</small>
                    </div>
                    <div class="field col">
                        <label for="commision">Commision</label>
                        <p-inputNumber [(ngModel)]="customer.commision" [max]="100" inputId="commision" suffix="%" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.commision">Name is
                            required.</small>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="ammountDueInAdvance">Amount Due(In Advance)</label>
                        <p-inputNumber [(ngModel)]="customer.ammountDueInAdvance" inputId="ammountDueInAdvance"
                            mode="decimal" locale="en-IN" [minFractionDigits]="2" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.ammountDueInAdvance">Name is
                            required.</small>
                    </div>
                    <div class="field col">
                        <label for="amountDuePast">Amount Due(Past)</label>
                        <p-inputNumber [(ngModel)]="customer.amountDuePast" inputId="amountDuePast" mode="decimal"
                            locale="en-IN" [minFractionDigits]="2" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.amountDuePast">Name is
                            required.</small>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="amountPaid">Amount Paid</label>
                        <p-inputNumber [(ngModel)]="customer.amountPaid" inputId="amountPaid" mode="decimal"
                            locale="en-IN" [minFractionDigits]="2" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.amountPaid">Name is
                            required.</small>
                    </div>
                    <div class="field col">
                        <label for="amountPaidDate">Amount Paid Date</label>
                        <p-calendar [(ngModel)]="customer.amountPaidDate" [showIcon]="true" inputId="amountPaidDate" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer.amountPaidDate">Name is
                            required.</small>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveCustomer()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" [draggable]="false" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="customer">Are you sure you want to delete customer <b>{{customer.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <!-- <p-dialog [(visible)]="deleteProductsDialog" [draggable]="false" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog> -->
    </div>
</div>